@page "/mainpage"
@using System.Collections.ObjectModel;
@using Gagger.Helpers;
@using static Gagger.Data.Api.AdImagesApi;
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager


<PageTitle>Main</PageTitle>

<body class="yolo">
    <div style="overflow:scroll; height: 91vh; overflow-x: hidden;" class="mainDiv">
        <table style="padding: 20px;" class="maintable">
            <tr>
                <td class="equalSize">
                </td>
                <td>
                    <div style="padding: 20px;" class="centerDiv">
                        <table width="100%">
                            <tr>
                                <td align="center" style="padding-top: 20px;">
                                    <strong style="font-size: 25px;">Anzeige Erstellen</strong>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 50px 0px 0px 60px">
                                    <strong style="font-size: 20px;">#Titel</strong>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 60px 10px 60px">
                                    <input maxlength="100" type="text" @bind="@TitleDeutsch" placeholder="Deutscher Titel" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px 60px 0px 60px">
                                    <input maxlength="100" type="text" @bind="@TitleArabisch" placeholder="Arabischer Titel" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 60px 0px 60px">
                                    <input type="text" maxlength="100" @bind="@TitleEnglisch" placeholder="Englischer Titel" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 50px 0px 0px 60px">
                                    <strong style="font-size: 20px;">#Beschreibungen</strong>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 60px 10px 60px">
                                   <textarea class="custom-textarea" @bind="DescriptionDeutsch" placeholder="Deutsche Beschreibung" rows="5"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px 60px 0px 60px">
                                    <textarea class="custom-textarea" @bind="DescriptionArabisch" placeholder="Arabische Beschreibung" rows="5"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 60px 0px 60px">
                                    <textarea class="custom-textarea" @bind="DescriptionEnglisch" placeholder="Englische Beschreibung" rows="5"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 50px 0px 0px 60px">
                                    <strong style="font-size: 20px;">#Metadaten</strong>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 60px 10px 60px">
                                    <input maxlength="100" type="text" @bind="@Adresse" placeholder="123 FunnyStreet Funnyland" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px 60px 0px 60px">
                                    <input maxlength="30" type="text" @bind="@Hours" placeholder="06:00 Uhr - 20:00 Uhr" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 60px 0px 60px">
                                    <input type="text" maxlength="100" @bind="@Telephone" placeholder="+49 151 543321 432" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 60px 0px 60px">
                                    <input maxlength="100" type="text" @bind="@Web" placeholder="http://www.example.com" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 60px 0px 60px">
                                    <input maxlength="100" type="text" @bind="@Email" placeholder="name@firma.com" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 50px 0px 0px 60px">
                                    <strong style="font-size: 20px;">#Kategorie</strong>
                                </td>
                            </tr>
                            <tr >
                                <td style="padding: 10px 60px 0px 60px">
                                    <table> 
                                        <tr>
                                            <td>
                                                <div>
                                                    <label style="width:130px;" for="dropdown">Hauptkategorie:</label>
                                                    <select id="dropdown" @onchange="HandleDropdownChange">
                                                        @{
                                                            foreach (var elem in enums)
                                                            {
                                                                var id = (int)elem;
                                                                <option value="@id">@elem</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 5px;">
                                                <div>
                                                    <label style="width:130px;" for="dropdown">Subkategorie:</label>
                                                    <select id="dropdown" @onchange="HandleDropdownChangeSub">
                                                        @{
                                                            foreach (var elem in SubCats)
                                                            {
                                                                <option value="@elem.Id">@elem.titleGer</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 5px;">
                                                <div>
                                                    <label style="width:130px;" for="dropdown">Subsubkategorie:</label>
                                                    <select id="dropdown" @onchange="HandleDropdownChangeSubSub">
                                                        @{
                                                            foreach (var elem in SubSubCats)
                                                            {
                                                                <option value="@elem.Id">@elem.titleGer</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                            <tr>
                                <td style="padding: 50px 0px 0px 60px">
                                    <strong style="font-size: 20px;">#Koordinaten</strong>
                                    (Getrennt durch ein Kommata)
                                </td>
                            </tr>
                            <tr >
                                <td style="padding: 10px 60px 0px 60px">
                                    <table style="width: 100%">
                                        <tr>
                                            <td>
                                               Latitude
                                            </td>
                                            <td>
                                                Longitude
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" maxlength="30" @bind="@Latitude" placeholder="52,4423" />
                                            </td>
                                            <td >
                                                <input type="text" maxlength="30" @bind="@Longitude" placeholder="10,342" />
                                            </td>
                                        </tr>
                                    </table>

                                </td>

                            </tr>
                            <tr>
                                <td style="padding: 50px 0px 0px 60px">
                                    <strong style="font-size: 20px;">#Bilder</strong>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 60px 0px 60px">
                                    <strong style="font-size: 15px;">Thumbnail</strong>
                                    <div style="padding-top: 10px;">
                                        <ImagePicker Title="@TitleDeutsch" Desc="@DescriptionDeutsch" ImgType="ImagePicker.ImageType.Thumbnail" />
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 60px 0px 60px">
                                    <strong style="font-size: 15px;">Anzeigenbild (1)</strong>
                                    <div style="padding-top: 10px;">
                                        <ImagePicker ImgType="ImagePicker.ImageType.AnzeigenBild_1" />
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 60px 0px 60px">
                                    <strong style="font-size: 15px;">Anzeigenbild (2)</strong>
                                    <div style="padding-top: 10px;">
                                        <ImagePicker ImgType="ImagePicker.ImageType.AnzeigenBild_2" />
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 60px 0px 60px">
                                    <strong style="font-size: 15px;">Anzeigenbild (3)</strong>
                                    <div style="padding-top: 10px;">
                                        <ImagePicker ImgType="ImagePicker.ImageType.AnzeigenBild_3" />
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td style="padding:40px 60px 0px 60px">
                                    <button class="goodButton" style="margin-top: 10px;" @onclick="LogInClicked">Anzeige Erstellen</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td class="equalSize">
                </td>
            </tr>
        </table>
    </div>
</body>


<style>

    .selects {
        margin-left: 10px;
        margin-top: 10px;
    }

    .yolo {
        background-image: linear-gradient(to right, #ff512f, #f09819);
    }



    .mainDiv {
        display: grid;
        height: 55vh;
        place-items: center;
    }

    .centerDiv {
        margin-top: 40px;
        border-radius: 10px;
        width: 100%;
        background-color: white;
        box-shadow: 10px 10px #262626;
    }

    .maintable {
        width: 100%;
    }


    .spacer {
        height: 40px;
    }

    .equalSize {
        width: 25%;
    }
</style>


@code {
    TodoApp.Data.CategoriesEnum[] enums = (TodoApp.Data.CategoriesEnum[])Enum.GetValues(typeof(TodoApp.Data.CategoriesEnum));
    private List<Data.Api.Category.CategoryType> SubCats = new List<Data.Api.Category.CategoryType>();
    private List<Data.Api.Category.CategoryType> SubSubCats = new List<Data.Api.Category.CategoryType>();


    private string TitleDeutsch = "";
    private string TitleEnglisch = "";
    private string TitleArabisch = "";

    private string DescriptionDeutsch = "";
    private string DescriptionEnglisch = "";
    private string DescriptionArabisch = "";

    private string Adresse = "";
    private string Telephone = "";
    private string Hours = "";
    private string Email = "";
    private string Web = "";
    private float Latitude = 0;
    private float Longitude = 0;
    private int category = 0;
    private int subcategory = 0;
    private int subsubcategory = 0;

    string selectedMainCat = "1";
    string selectedSubCat = "";
    string selectedSubSubCat = "";

    // will be writting to from imagepicker
    public static string Image_1 = ""; 
    public static string Image_2 = "";
    public static string Image_3 = "";


    protected async override void OnInitialized()
    {
        // add null element
        var none = new Data.Api.Category.CategoryType
            {
                belongsToMainCat = 0,
                Id = "",
                belongsToSubCat = "",
                titleGer = "keine"
            };

        SubCats.Add(none);
        SubCats.AddRange(await Data.Api.Category.GetSubCatsInMainCat(selectedMainCat));
        StateHasChanged();

        base.OnInitialized();
    }

    private async void HandleDropdownChange(ChangeEventArgs e)
    {
        selectedMainCat = "";      // reset value
        selectedSubCat = "";       // reset value
        selectedSubSubCat = "";    // reset value

        selectedMainCat = e.Value.ToString();
        SubCats.Clear(); 

        // add null element
        var none = new Data.Api.Category.CategoryType
            {
                belongsToMainCat = 0,
                Id = "",
                belongsToSubCat = "",
                titleGer = "keine"
            };

        SubCats.Add(none);
        SubCats.AddRange(await Data.Api.Category.GetSubCatsInMainCat(selectedMainCat));
        StateHasChanged();
    }

    private async void HandleDropdownChangeSub(ChangeEventArgs e)
    {

        selectedSubCat = "";        // reset value
        selectedSubSubCat = "";     // reset value

        selectedSubCat = e.Value.ToString();
        SubSubCats.Clear();

        // add null element
        var none = new Data.Api.Category.CategoryType
            {
                belongsToMainCat = 0,
                Id = "",
                belongsToSubCat = "",
                titleGer = "keine"
            };

        SubSubCats.Add(none);
        SubSubCats.AddRange(await Data.Api.Category.GetSubSubCatsInSubCat(selectedSubCat));
        StateHasChanged();
    }

    private async void HandleDropdownChangeSubSub(ChangeEventArgs e)
    {
        selectedSubSubCat = ""; // reset value
        selectedSubSubCat = e.Value.ToString();
    }

    private async void LogInClicked()
    {
        var pic = ImagePicker.ImageResult;

        if (string.IsNullOrEmpty(pic))
        {
            await JsRuntime.InvokeVoidAsync("alert", "Anzeigenbild fehlt.");
            return;
        }
        if (TitleDeutsch == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Deutscher Titel fehlt");
            return;
        }
        if (TitleArabisch == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Arabischer Titel fehlt");
            return;
        }
        if (TitleEnglisch == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Englischer Titel fehlt");
            return;
        }
        if (DescriptionEnglisch == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Englische Beschreibung fehlt");
            return;
        }
        if (DescriptionDeutsch == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Englische Beschreibung fehlt");
            return;
        }
        if (DescriptionArabisch == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Arabische Beschreibung fehlt");
            return;
        }
        if (Adresse == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Adresse fehlt");
            return;
        }
        if (Hours == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Öffnungszeiten fehlen");
            return;
        }
        if (Telephone == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Telephone fehlt");
            return;
        }
        if (Web == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Webpage fehlt");
            return;
        }
        if (Email == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Email fehlt");
            return;
        }

        await CreateAd(pic);
    }

    private async Task CreateAd(string pic)
    {
        var ad = new Data.Api.AdsApi.FullAdType
            {
                tblAdID = Converters.ReturnRandomString(Constants.IDLENGTH),
                adresse = Adresse,
                category = Int32.Parse(selectedMainCat),
                subcategory = selectedSubCat,
                subsubcategory = selectedSubSubCat,
                title = TitleEnglisch,
                titleAr = TitleArabisch,
                titleDe = TitleDeutsch,
                email = Email,
                hours = Hours,
                descriptionAR = DescriptionArabisch,
                descriptionENG = DescriptionEnglisch,
                descriptionGER = DescriptionDeutsch,
                latitude = Latitude,
                longitude = Longitude,
                thumbnail = pic, 
                telephone = Telephone,
                UnixCreated = DateTime.Now,
                web  = Web,
                description = DescriptionEnglisch
            };

        await Data.Api.AdsApi.CreateAd(ad);

        List<AdImageType> images = new List<AdImageType>();

        if (!string.IsNullOrEmpty(Image_1))
        {
            var x = new AdImageType
                {
                    BelongsToAdId = ad.tblAdID,
                    Id = Converters.ReturnRandomString(Constants.IDLENGTH),
                    Image = Image_1,
                    Position = 0,
                };
            images.Add(x);
        }
        if (!string.IsNullOrEmpty(Image_2))
        {
            var x = new AdImageType
                {
                    BelongsToAdId = ad.tblAdID,
                    Id = Converters.ReturnRandomString(Constants.IDLENGTH),
                    Image = Image_2,
                    Ord
                    Position = 1 ,

                };
            images.Add(x);
        }
        if (!string.IsNullOrEmpty(Image_3))
        {
            var x = new AdImageType
                {
                    BelongsToAdId = ad.tblAdID,
                    Id = Converters.ReturnRandomString(Constants.IDLENGTH),
                    Image = Image_3,
                    Position = 2,

                };
            images.Add(x);
        }

        foreach(var elem in images)
        {
            await Data.Api.AdImagesApi.CreateAdImage(elem);
        }

        //reset images is importantanter
        Image_1 = "";
        Image_2 = "";
        Image_3 = "";

        await JsRuntime.InvokeVoidAsync("alert", "Anzeige erstellt!");
        NavManager.NavigateTo("/allads");
    }
}

