
<InputFile OnChange="@LoadFiles" multiple accept=".jpg,.jpeg,.png"/>
<div >
    @{

        <div class="container2">
                @foreach (var file in loadedFiles)
                {

                      if (ImgType == ImageType.Thumbnail)
                      {
                          <div style="background-color: #cccc00; width: 100%; padding-top: 20px; padding-left: 10px; padding-right: 10px;">
                              <AdsTemplate Base64Image="@base64data" Desc="@Desc" Title="@Title"></AdsTemplate>
                          </div>
                      }
                      else
                      {
                          <div class="image-container">
                              <img alt="" src="@base64data" />
                          </div>

                      }

                }
        </div>
    }

</div>


<style>



    .imagecontainer {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        border: 5px solid black; /* You can customize the width, style, and color */

        position: relative; /* Ensure positioning works properly */
    }

     .imagecontainer img {
         width: 100%;
         height: 100%;
         object-fit: cover; /* Maintain aspect ratio and cover container */
         object-position: center center; /* Center the cropped area */
         position: absolute; /* Position the image within the container */
     }

    .imagecontainer_meme {
        margin-top: 10px;
        width: 100%;
        max-width: 300px;
        max-height: 500px; 
        padding: 10px;
        border: 2px solid #000;
        background-color: black;
        border-radius: 15px;
        -moz-border-radius: 10px;
        overflow: hidden;
    }

    .container2 {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        align-items: baseline;
        width: 100%;
        height: 300px; /* Adjust to your desired container height */
    }

    .image-container {
        max-width: 300px;
        text-align: center;
    }

        .image-container img {
            max-width: 100%;
            height: auto;
            padding: 10px;
            border: 2px solid #000;
            background-color: black;
            border-radius: 15px;
            -moz-border-radius: 10px;
        }
</style>

@code {
    // this could handle mutiple images. but is now set to handle one. but thats we have list element and for each and so on. 
    [Parameter]
    public ImageType ImgType { get; set; }

    private string imageDataUrl;
    public static string ImageResult = "";
    List<ImageFile> filesBase64 = new List<ImageFile>();
    bool isDisabled = false;
    private int maxAllowedFiles = 3;
    private bool isLoading;
    private string extensionname = "default";
    private string base64data = ""; //you can set a defaut image
    private string isdisplayimage;
    private List<IBrowserFile> loadedFiles = new();

    //InputFile Chnage event
    //new stuff
    [Parameter]
    public string ImgUrl { get; set; }
    [Parameter]
    public EventCallback<string> OnChange { get; set; }

    // needed for create ads
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Desc { get; set; }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();

        if(ImgType == ImageType.Thumbnail)
        {
            foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
            {
                try
                {
                    loadedFiles.Add(file);

                    //get the upload file extension.
                    extensionname = Path.GetExtension(file.Name);

                    var imagefiletypes = new List<string>() {
                    ".png",".jpg",".jpeg"
                };
                    if (imagefiletypes.Contains(extensionname))
                    {

                        var resizedFile = await file.RequestImageFileAsync(file.ContentType, 400, 400); // resize the image file
                        var buf = new byte[resizedFile.Size];
                        using (var stream = resizedFile.OpenReadStream())
                        {
                            await stream.ReadAsync(buf); // copy the stream to the buffer
                        }
                        base64data = "data:image/png;base64," + Convert.ToBase64String(buf); // convert to a base64 string!!
                        await Task.Delay(100);
                        ImageResult = Convert.ToBase64String(buf);
                        isdisplayimage = "block";
                    }
                    else
                    {
                        isdisplayimage = "none";
                    };
                }
                catch (Exception ex)
                {
                    // Logger.LogError("File: {Filename} Error: {Error}",
                    //     file.Name, ex.Message);
                }

                StateHasChanged();
            }
            isLoading = false;
        }
        else if(ImgType == ImageType.AnzeigenBild_1)
        {
            foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
            {
                try
                {
                    loadedFiles.Add(file);

                    //get the upload file extension.
                    extensionname = Path.GetExtension(file.Name);

                    var imagefiletypes = new List<string>() {
                    ".png",".jpg",".jpeg"
                    };
                    if (imagefiletypes.Contains(extensionname))
                    {

                        var resizedFile = await file.RequestImageFileAsync(file.ContentType, 1000, 1000); // resize the image file
                        var buf = new byte[resizedFile.Size];
                        using (var stream = resizedFile.OpenReadStream())
                        {
                            await stream.ReadAsync(buf); // copy the stream to the buffer
                        }
                        base64data = "data:image/png;base64," + Convert.ToBase64String(buf); // convert to a base64 string!!
                        await Task.Delay(100);
                        Pages.Ads.CreateAds.Image_1 = Convert.ToBase64String(buf);
                        isdisplayimage = "block";
                    }
                    else
                    {
                        isdisplayimage = "none";
                    };
                }
                catch (Exception ex)
                {
                    // Logger.LogError("File: {Filename} Error: {Error}",
                    //     file.Name, ex.Message);
                }

                StateHasChanged();
            }
            isLoading = false;
        }
        else if (ImgType == ImageType.AnzeigenBild_2)
        {
            foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
            {
                try
                {
                    loadedFiles.Add(file);

                    //get the upload file extension.
                    extensionname = Path.GetExtension(file.Name);

                    var imagefiletypes = new List<string>() {
                    ".png",".jpg",".jpeg"
                };
                    if (imagefiletypes.Contains(extensionname))
                    {

                        var resizedFile = await file.RequestImageFileAsync(file.ContentType, 1000, 1000); // resize the image file
                        var buf = new byte[resizedFile.Size];
                        using (var stream = resizedFile.OpenReadStream())
                        {
                            await stream.ReadAsync(buf); // copy the stream to the buffer
                        }
                        base64data = "data:image/png;base64," + Convert.ToBase64String(buf); // convert to a base64 string!!
                        await Task.Delay(100);
                        Pages.Ads.CreateAds.Image_2 = Convert.ToBase64String(buf);
                        isdisplayimage = "block";
                    }
                    else
                    {
                        isdisplayimage = "none";
                    };
                }
                catch (Exception ex)
                {
                    // Logger.LogError("File: {Filename} Error: {Error}",
                    //     file.Name, ex.Message);
                }

                StateHasChanged();
            }
            isLoading = false;
        }
        else if (ImgType == ImageType.AnzeigenBild_3)
        {
            foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
            {
                try
                {
                    loadedFiles.Add(file);

                    //get the upload file extension.
                    extensionname = Path.GetExtension(file.Name);

                    var imagefiletypes = new List<string>() {
                    ".png",".jpg",".jpeg"
                };
                    if (imagefiletypes.Contains(extensionname))
                    {

                        var resizedFile = await file.RequestImageFileAsync(file.ContentType, 1000, 1000); // resize the image file
                        var buf = new byte[resizedFile.Size];
                        using (var stream = resizedFile.OpenReadStream())
                        {
                            await stream.ReadAsync(buf); // copy the stream to the buffer
                        }
                        base64data = "data:image/png;base64," + Convert.ToBase64String(buf); // convert to a base64 string!!
                        await Task.Delay(100);
                        Pages.Ads.CreateAds.Image_3 = Convert.ToBase64String(buf);
                        isdisplayimage = "block";
                    }
                    else
                    {
                        isdisplayimage = "none";
                    };
                }
                catch (Exception ex)
                {
                    // Logger.LogError("File: {Filename} Error: {Error}",
                    //     file.Name, ex.Message);
                }

                StateHasChanged();
            }
            isLoading = false;
        }

      
    }

    public enum ImageType
    {
        AnzeigenBild_1,
        AnzeigenBild_2,
        AnzeigenBild_3,
        OfferPic, 
        Thumbnail
    }

    public class ImageFile
    {
        public string base64data { get; set; }
        public string contentType { get; set; }
        public string fileName { get; set; }
    }
}
